body {
    padding-top: 150px;
    margin: 0;

    background-color: #404040;
    font-family: 'Lato', sans-serif;
}

.section {
    margin: 20px 0;
}

.container {
    width: 1000px;

    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;

    height: 130px;
    width: 100%;

    padding: 10px 0;

    background-color: rgba(0, 0, 0, 0.7);
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.logo {
    color: white;
    font-size: 44px;
    letter-spacing: 2px;
    font-weight: 900;
}

.menu {
    display: flex;
    justify-content: center;

    padding: 10px;

    background-color: #303030;
    color: #FFFFFF;
}

.menu-option {
    height: 20px;

    padding: 10px;

    border-right: 2px dotted #444444;
    opacity: 0.8;
}

.menu-option:first-child {
    border-left: 2px dotted #444444;
}

.menu-option:hover {
    background-color: #000000;
    cursor: pointer;
}

.topbar {
    display: flex;

    height: 170px;

    padding: 10px;

    background-color: #128870;
    color: #FFFFFF;
}

.topbarL {
    padding: 10px;
    width: 140px;
    text-align: center;
    border-right: 2px dotted #CCCCCC;
    box-sizing: border-box;
    height: 100%;
}

.topbarR {
    padding: 10px;
    width: 760px;
    font-size: 16px;
    text-align: justify;
    box-sizing: border-box;
    height: 100%;
}

.sidebar {
    float: left;
    width: 148px;
    min-height: 620px;
    padding: 20px;
    background-color: lightgray;
    font-size: 18px;
    border-right: 2px dotted #666666
}

.content {
    float: left;
    padding: 40px;
    width: 730px;
    background-color: #DEDEDE;
    min-height: 580px;
    text-align: justify;
}

.footer {
    clear: both;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}


.optionL {
    font-size: 18px;
    height: 25px;
    padding: 10px;
    border-bottom: 2px dotted #444444;
}

.optionL:hover {
    background-color: #F36472;
    color: white;
    cursor: pointer;
}

.bigtitle {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
}
